! ------------------------------------------------------------------------------
! rofi mrczlnks color theme
! ------------------------------------------------------------------------------
rofi.location:          0
rofi.color-enabled:     true
!                       'background', 'border'
rofi.color-window:      argb:bb101010, argb:00101010
! State:                'bg',          'fg',   'bgalt',       'hlbg',        'hlfg'
rofi.color-normal:      argb:ff101010, #ffffff, argb:cc101010, argb:aafa00fa, argb:ffffffff
rofi.color-urgent:      argb:99ffffff, #ffffff, argb:99333333, argb:ff393939, argb:ffffffff
rofi.separator-style:   solid
rofi.fullscreen:        false
rofi.padding:           16
rofi.hide-scrollbar:    true
rofi.line-margin:       4
rofi.line-padding:      3
rofi.fake-transparency: false
rofi.yoffset:           0
rofi.xoffset:           0
rofi.width:             320
rofi.lines:		5
rofi.font:              Cascadia Code 14

Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:        96
Xft.hinting:    1
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb
