! ------------------------------------------------------------------------------
! rofi lydia color theme
! ------------------------------------------------------------------------------
rofi.location:          0
rofi.color-enabled:     true
!                       'background', 'border'
rofi.color-window:      argb:aa000000, argb:aa000000
! State:                'bg',          'fg',   'bgalt',       'hlbg',        'hlfg'
rofi.color-normal:      argb:00000000, #ffffff, argb:00000000, argb:29ffffff, argb:ffffffff
rofi.color-urgent:      argb:ccffffff, #ffffff, argb:99333333, argb:ff393939, argb:ffffffff
rofi.separator-style:   solid
rofi.fullscreen:        false
rofi.padding:           8
rofi.hide-scrollbar:    true
rofi.line-margin:       6
rofi.line-padding:      8
rofi.fake-transparency: false
rofi.font:              Inter 12
rofi.dpi:	94

Xft.antialias:  1
Xft.autohint:   0
Xft.hinting:    1
Xft.dpi:	94
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb
